.exchange {
  margin-top: -113px;
  position: relative;
  background: #000;
  padding-top: 130px;
  padding-bottom: 70px;

  @media(max-width: $md4) {
    padding-top: 50px;
    padding-bottom: 0;
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -25%);
    z-index: -1;
    max-width: 1407px;
    width: 90vw;
    min-width: 256px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__wrapper {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;

    @media(max-width:$md4) {
      display: block;
    }
  }

  &__content {
    max-width: 488px;
    width: 100%;
    margin: 0 0 0 auto;

    @media(max-width:$md4) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 56px;

    @media(max-width:$md4) {
      margin-bottom: 20px;
    }
  }

  &__text {}

  &__img {
    max-width: 714px;
    width: 100%;
    position: relative;
    margin-top: -27%;
    min-width: 450px;

    @media(max-width:$md4) {
      margin-top: 0;
      transform: translateY(-20%);
    }

    @media(max-width:$md5) {
      transform: translate(-30%, -20%)
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.container {}

.section-title {}

.main-text {}
