.footer {
  padding: 100px 0 100px;

  @media(max-width:$md3) {
    padding: 0px 0 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width:$md3) {
      display: block;
    }
  }

  &__logo {
    display: block;
    max-width: 278px;
    width: 100%;
    margin-right: 20px;
    min-width: 170px;

    @media(max-width:$md3) {
      margin: 0 auto 40px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__socials {
    display: flex;
    margin-right: 20px;

    @media(max-width:$md3) {
      justify-content: center;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__socials-item {
    &:not(:last-child) {
      margin-right: 2.5vw;

      @media(max-width:$md2) {
        margin-right: 1vw;
      }

      @media(max-width:$md3) {
        margin-right: 2.5vw;
      }
    }
  }

  &__nav {
    display: flex;
    margin-right: 20px;

    @media(max-width:$md3) {
      margin-right: 0;
      justify-content: space-around;
    }

    @media(max-width:$md5) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__nav-item {
    transition: all ease .2s;
    white-space: nowrap;

    @media(max-width:$md5) {
      margin: 5px;
    }

    &:hover {
      color: $colorGreen;
    }

    &:not(:last-child) {
      margin-right: 1.7vw;
    }
  }
}

.container {}
