.socials {
  padding: 97px 0 100px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: rgba(#000, 0.192);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  &__circle {
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 125px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }



  &__description {
    text-align: center;
    margin-bottom: 85px;

    @media(max-width:$md5) {
      text-align: right;
      position: relative;
      max-width: 260px;
      width: 100%;
      margin: -150px 0 60px auto;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 25px;

        @media(max-width:$md5) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__socials {
    justify-content: center;

    @media(max-width:$md4) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 46px 36px;
    }
  }

  &__social {
    @media(max-width:$md4) {
      justify-self: center;
      max-width: 250px;
      width: 100%;
    }
  }
}
