<section class="access">
  <div class="container">
    <h2 class="access__title section-title">
      You Deserve Easy Access to Cryptocurrencies
    </h2>
    <div class="access__subtitle main-text">
      <p>Trust Wallet is for you if you want to</p>
    </div>
    <ul class="access__items">
      <li class="access__item">Buy Bitcoin in under five minutes</li>
      <li class="access__item">Exchange your crypto without leaving the app</li>
      <li class="access__item">Easily earn interest on the crypto in your wallet</li>
      <li class="access__item">Track charts and prices within the app</li>
      <li class="access__item">See your collectibles. Art & NFTs in one place</li>
      <li class="access__item">
        Keep your crypto safe from hackers & scammers</li>
    </ul>
    <a href="#" class="access__btn btn">
      Download now
    </a>
    <div class="acces-buy">
      <div class="acces-buy__wrapper">
        <div class="acces-buy__img">
          <img src="img/acces-buy_img.svg" alt="pay card">
        </div>
        <div class="acces-buy__content">
          <h2 class="acces-buy__title section-title">Buy Crypto With a Card</h2>
          <div class="acces-buy__text main-text">Get your first $50 of Bitcoin, Ethereum, Binance Coin and many other
            cryptocurrencies.</div>
        </div>
      </div>
    </div>
  </div>
</section>
