<section class="browser">
  <div class="browser__decor">
    <img src="img/bg_ellipse.png" alt="">
  </div>
  <div class="container">
    <div class="browser__wrapper">
      <div class="browser__content">
        <h2 class="browser__title section-title">Browser for DApps</h2>
        <div class="browser__text main-text">Use your favourite decentralized apps & find new ones, without leaving your
          wallet.</div>
      </div>
      <div class="browser__img">
        <img src="./img/browser_img.svg" alt="Browser Apps">
      </div>
    </div>
  </div>
</section>
