<section class="exchange">
  <div class="exchange__decor">
    <img src="img/bg_ellipse.png" alt="">
  </div>
  <div class="container">
    <div class="exchange__wrapper">
      <div class="exchange__content">
        <h2 class="exchange__title section-title">Exchange Instantly</h2>
        <div class="exchange__text main-text">
          <p>No forms, no selfies. Trade crypto anytime with ease.</p>
        </div>
      </div>
      <div class="exchange__img">
        <img src="img/exchange_img.svg" alt="Exchange">
      </div>
    </div>
  </div>
</section>
