<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="/" class="footer__logo">
        <img src="img/logo.svg" alt="Wallax">
      </a>
      <div class="footer__socials">
        <a href="/" class="footer__socials-item">
          <img src="img/socials/social-icon_1.svg" alt="telegram">
        </a>
        <a href="/" class="footer__socials-item">
          <img src="img/socials/social-icon_2.svg" alt="twitter">
        </a>
        <a href="/" class="footer__socials-item">
          <img src="img/socials/social-icon_3.svg" alt="magenta">
        </a>
        <a href="/" class="footer__socials-item">
          <img src="img/socials/social-icon_4.svg" alt="bscsca">
        </a>
        <a href="/" class="footer__socials-item">
          <img src="img/socials/social-icon_5.svg" alt="coingecko">
        </a>
        <a href="/" class="footer__socials-item">
          <img src="img/socials/social-icon_6.svg" alt="m">
        </a>
      </div>
      <nav class="footer__nav">
        <a href="/" class="footer__nav-item" data-title="Assets">Assets</a>
        <a href="/" class="footer__nav-item" data-title="Staking">Staking</a>
        <a href="/" class="footer__nav-item" data-title="Browser Extension">Browser Extension</a>
        <a href="./Roadmap.html" class="footer__nav-item" data-title="Roadmap">Roadmap</a>
        <a href="./WLX.html" class="footer__nav-item" data-title="WLX token">WLX token</a>
        <a href="./privateSale.html" class="footer__nav-item" data-title="Private sale">Private sale</a>
      </nav>
    </div>
  </div>
</footer>
