<section class="get-started">
  <div class="container">
    <h2 class="get-started__title section-title">Get started in 3 simple steps</h2>
    <div class="get-started__subtitle main-text">
      <p>It only takes a few minutes</p>
    </div>
    <div class="get-started__wrapper">
      <div class="get-started__item">
        <div class="get-started__img">
          <img src="img/get-started_1.svg" alt="Download">
        </div>
        <div class="get-started__name">Download Trust Wallet</div>
      </div>
      <div class="get-started__item">
        <div class="get-started__img">
          <img src="img/get-started_2.svg" alt="Create">
        </div>
        <div class="get-started__name">Create a new wallet</div>
      </div>
      <div class="get-started__item">
        <div class="get-started__img">
          <img src="img/get-started_3.svg" alt="Get crypto">
        </div>
        <div class="get-started__name">Get some crypto</div>
      </div>
    </div>
    <a href="#" class="get-started__btn btn">Download now</a>
  </div>
</section>
