<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="img/logo.svg" alt="Wallax">
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__elem">
            <a href="" data-title="Assets" class="header__link">Assets</a>
          </li>
          <li class="header__elem">
            <a href="" data-title="Staking" class="header__link">Staking</a>
          </li>
          <li class="header__elem">
            <a href="" data-title="Browser Extension" class="header__link">Browser Extension</a>
          </li>
          <li class="header__elem">
            <a href="./Roadmap.html" data-title="Roadmap" class="header__link">Roadmap</a>
          </li>
          <li class="header__elem">
            <a href="./Tokemonics.html" data-title="WLX token" class="header__link">WLX token</a>
          </li>
          <li class="header__elem">
            <a href="./privateSale.html" data-title="Private sale" class="header__link">Private sale</a>
          </li>
        </ul>
      </nav>
      <div class="header__burger burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

</header>
<div class="mobile-menu">
  <div class="mobile-menu__container container">
    <a href="#" class="access__btn btn">
      Download now
    </a>
  </div>
</div>
