<section class="hero">
  <div class="hero__circle">
    <img src="img/ellipse.svg" alt="ellipse decor">
  </div>
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">The most trusted & secure crypto wallet
          <div class="hero__circle">
            <img src="img/ellipse.svg" alt="ellipse decor">
          </div>
        </h1>
        <div class="hero__socials socials-items">
          <a href="#" class="hero__social socials-items__item">
            <img src="img/android.png" alt="android">
          </a>
          <a href="#" class="hero__social socials-items__item">
            <img src="img/appstore.png" alt="appstore">
          </a>
          <a href="#" class="hero__social socials-items__item">
            <img src="img/googlePlay.png" alt="googlePlay">
          </a>
          <a href="#" class="hero__social socials-items__item">
            <img src="img/chromeStore.png" alt="chromeStore">
          </a>
        </div>
      </div>
      <div class="hero__img">
        <img src="img/hero_img.svg" alt="Phone app">
      </div>
    </div>
  </div>
</section>
