<section class="socials">
  <div class="socials__circle">
    <img src="img/ellipse.svg" alt="ellipse">
  </div>
  <div class="container">
    <div class="socials__description main-text">
      <p>Get the Wallet app now!</p>
      <p>The most trusted & secure crypto wallet</p>
    </div>
    <div class="socials__socials socials-items">
      <a href="#" class="socials__social socials-items__item">
        <img src="img/android.svg" alt="android">
      </a>
      <a href="#" class="socials__social socials-items__item">
        <img src="img/appstore.svg" alt="appstore">
      </a>
      <a href="#" class="socials__social socials-items__item">
        <img src="img/googlePlay.svg" alt="googlePlay">
      </a>
      <a href="#" class="socials__social socials-items__item">
        <img src="img/chromeStore.svg" alt="chromeStore">
      </a>
    </div>
  </div>
</section>
